.FieldCard {
  min-width: 181px;
  width: auto;
  flex-grow: 1;
  padding: var(--mantine-spacing-md);
  color: var(--mantine-color-gray-1);

  @media(max-width: 36em) {
    padding: var(--mantine-spacing-sm);
    width: 100%;
  }

  .TextContainer {
    flex-direction: column;

    @media(max-width: 36em) {
      flex-direction: row;
      justify-content: space-between;
    }

    .ValueText {
      width: 125px;

      @media(max-width: 36em) {
        width: auto;
      }
    }
  }
}



